# Optional for getting debug logs
# JAT_DEV=1
# Optional for getting debug logs from the database
# DEBUG_DB=1


# Required to launch the server
DATABASE_URL="postgres://postgres:123123@localhost:5432/jat"
PORT="4200"
# change this with your own
# example cmd to create your own: echo "change me!" | openssl base64
SECRET_JWT="SSBsb3ZlIHRoZSBjb21tYW5kIGxpbmUK"